
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar for webkit browsers */
.custom-scrollbar::-webkit-scrollbar {
    width: 6px; /* Thinner scrollbar */
}
.custom-scrollbar::-webkit-scrollbar-track {
    background: rgba(17, 24, 39, 0.2); /* A very subtle track on the dark background */
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(156, 163, 175, 0.4); /* gray-400 with 40% opacity for a subtle look */
    border-radius: 3px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: rgba(156, 163, 175, 0.6); /* gray-400 with 60% opacity on hover */
}
